<!--<p>puntos-ventas-mx works!</p>-->

<div class="container mt-5 pt-5">
  <div class="content-wrapper">
    <div class="row align-items-center mb-5">
      <div class="col-12 col-lg">
        <h1 class="section-title">Encuentra Rompope Carmelita</h1>
        <p>
          Descubre los puntos de venta y consumo más cercanos en el mapa.
        </p>
        <button class="btn btn-primary" >
          <a mat-flat-button  href="https://www.google.com/maps/d/u/0/viewer?mid=1CU3usEZ68PQ5g31Wkarzs92lA2wEyGOx&ll=19.03480685494255%2C-98.23021595&z=17" target="_blank">
            Ver mapa completo <i class="fas fa-location-arrow right"></i>
          </a>
          </button>
      </div>
      <div class="col-12 col-lg-6">
        <img src="../../../assets/img/puntos-ventas-mexico/mapa-mexico-carmelita.png" width="500" height="500"
    class="img-fluid mt-2 px-5 mr-5 mx-5 d-block" alt="Mapa de Rompope Carmelita en México
    ">
      </div>
    </div>
    <div class="row align-items-center mb-5">
      <div class="col-md-3 card">
        <img src="../../../assets/img/puntos-ventas-mexico/costco-mexico.png" width="240" height="240" class="img-fluid" alt="">
      </div>
      <div class="col-md-3 card">
        <img src="../../../assets/img/puntos-ventas-mexico/mercado-dulces.png" width="240" height="240" class="img-fluid" alt="">
      </div>
      <div class="col-md-3 card">
        <img src="../../../assets/img/puntos-ventas-mexico/panoli.png" width="240" height="240" class="img-fluid" alt="">
      </div>
      <div class="col-md-3 card">
        <img src="../../../assets/img/puntos-ventas-mexico/city-market.png" width="240" height="240" class="img-fluid" alt="">
      </div>
      <div class="col-md-3 card">
        <img src="../../../assets/img/puntos-ventas-mexico/fresko.png" width="240" height="240" class="img-fluid" alt="">
      </div>
      <div class="col-md-3 card">
        <img src="../../../assets/img/puntos-ventas-mexico/la-comer.png" width="240" height="240" class="img-fluid" alt="">
      </div>
      <div class="col-md-3 card">
        <img src="../../../assets/img/puntos-ventas-mexico/happygo.png" width="240" height="240" class="img-fluid" alt="">
      </div>
      <div class="col-md-3 card">
        <img src="../../../assets/img/puntos-ventas-mexico/cristalita.png" width="240" height="240" class="img-fluid" alt="">
      </div>
      <div class="col-md-3 card">
        <img src="../../../assets/img/puntos-ventas-mexico/maxstore-mexico.png" width="240" height="240" class="img-fluid" alt="">
      </div>
      <div class="col-md-3 card">
        <img src="../../../assets/img/puntos-ventas-mexico/alianza.png" width="240" height="240" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</div>